<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Daily_Check_In.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Daily_Check_In.Properties.Settings>
            <setting name="days" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalDays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pauseCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="weekStat0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="weekStat1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="weekStat2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="weekStat3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="weekStat4" serializeAs="String">
                <value>0</value>
            </setting>
        </Daily_Check_In.Properties.Settings>
    </userSettings>
</configuration>